@charset "ISO-8859-1";

html {
	background-color: black;
}

.imagem_fundo {
	position: relative;
	top: 100px;
	left: 50px;
}

body {
	width: 800px;
	margin: 0 auto;
	background-color: gray;
	padding: 0 20px 20px 20px;
	border: 5px solid #800040;
}

img {
	display: block;
	margin: 0 auto;
	
}

h1 {
	color: orange;
	padding: 80px 0;
	text-shadow: 5px 7px 1px black;
}

.botao {
	position: absolute;
	top: 390px;
	left: 320px;
}

.botao a {
	font: bold 18px/26px arial;
	padding: 0px;
	text-align: center;
	color: navy;
	background: white url('../img/botao_link.gif') no-repeat center center;
	width: 120px;
	height: 24px;
	display: block;
	
}

.botao a:hover {
	background: #666 url('../img/botao_hover.gif') no-repeat center center;
	color: black;
	
}